{% load static %}
<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock title %}</title> 

  {% block head %}{% endblock head %}
{% comment %} remove this?+ {% endcomment %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Inconsolata:wght@500&family=Roboto+Mono:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
{% comment %} remove this?+ {% endcomment %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;600;700&display=swap" rel="stylesheet">
<!-- <link href="/style.css"> -->

<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="https://kit.fontawesome.com/ad7ea75847.js" crossorigin="anonymous"></script>


<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block script %}{% endblock script %}

<!-- <style>
  div{
    font-family: 'Outfit', sans-serif !important;
  }
</style> -->
</head>
<!-- Button to trigger trigger modal -->


<!-- signup Modal -->
<div class="modal fade" id="signupmodal" tabindex="-1" aria-labelledby="signupmodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupmodal">Signup here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/signup" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <label for="username">Choose a unique username</label>
          <div class="input-group mb-3 my-1">
            <span class="input-group-text" name="username" id="username">@</span>
            <input type="text" class="form-control" placeholder="Username" required aria-label="Username"
            aria-describedby="username" name="username" id="username">
          </div>
          <div class="row">
            <div class="col">
              <label for="firstname">Firstname</label>
              <input type="text" class="form-control" placeholder="First name" required aria-label="First name" name="firstname" id="firstname">
            </div>
            <div class="col">
              <label for="lastname">Lastname</label>
              <input type="text" class="form-control" placeholder="Last name" required aria-label="Last name" name="lastname" id="lastname">
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
          </div>
          
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Choose a password" required>
          </div>
          <div class="mb-3">
            <label for="retypepassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Enter your password again" required>
          </div>
          <button type="submit" class="btn btn-success">Register</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- login modal -->
<div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="loginmodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginmodal">Login here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/staff/login" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <label for="username">Enter your username</label>
          <div class="input-group mb-3 my-1">
            <span class="input-group-text" name="loginusername" id="loginusername">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="username" name="lusername" id="lusername">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="lpassword" name="lpassword" placeholder="Enter your Password">
          </div>
          <button type="submit" class="btn btn-success">Login</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- end login modal -->

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">KLE Staff</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% block home_active %}{% endblock home_active %}" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block contact_active %}{% endblock contact_active %}" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block about_active %}{% endblock about_active %}" href="/about">About</a>
          </li>
         
        </ul>
        <form method="get" action="/search" class="d-flex align=right">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query"
          id="query">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% if user.is_authenticated %}
        <div class="dropdown mx-2 my-1">
          <a class="nav-link dropdown-toggle text-white text-decoration-none" role="button" id="navbarDarkDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome {{request.user}}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/staff/logout">Logout</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/staff/profile">Profile</a></li>
          </ul>
        </div>
        {% else %}
        <a href="" class="link-light mx-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#loginmodal">Login</a> 
        <a href="" class="link-light mx-2 text-decoration-none" data-bs-toggle="modal" data-bs-target="#signupmodal">SignUp</a> 
        {% endif %}
      </div>
    </div>
  </nav>
  {% block typewriter %}
  {% endblock typewriter %}
  <br>
  <br>
  
  
  {% for message in messages %}
  <div class="container my-0">
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong>Message:</strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {% endfor %}
  {% block body %}{% endblock body %}
  {% block js %}
  {% endblock js %}
  
  
  
  
  
  <!-- Optional JavaScript; choose one of the two! -->
  
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>
  <br>
  <br>
  
  <footer class="bg-dark text-center text-white">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white text-decoration-none" href="/"><b>KLE Staff</b><small> <br>
          by Athar Mujtaba Wani</small></a>
        </div>
        <!-- Copyright -->
      </footer>
      {% comment %} footer end {% endcomment %}
</body>
</html>